<%= form_with(model: victim, local: true) do |form| %>
  <% if victim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(victim.errors.count, "error") %> prohibited this victim from being saved:</h2>

      <ul>
        <% victim.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vic_name %>
    <%= form.text_field :vic_name %>
  </div>

  <div class="field">
    <%= form.label :vic_addr %>
    <%= form.text_field :vic_addr %>
  </div>

  <div class="field">
    <%= form.label :ps %>
    <%= form.number_field :ps %>
  </div>

  <div class="field">
    <%= form.label :ps_dist %>
    <%= form.number_field :ps_dist %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :vic_contct %>
    <%= form.text_field :vic_contct %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
