<p id="notice"><%= notice %></p>

<h1>Victims</h1>

<table>
  <thead>
    <tr>
      <th>Vic name</th>
      <th>Vic addr</th>
      <th>Ps</th>
      <th>Ps dist</th>
      <th>State</th>
      <th>Vic contct</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @victims.each do |victim| %>
      <tr>
        <td><%= victim.vic_name %></td>
        <td><%= victim.vic_addr %></td>
        <td><%= victim.ps %></td>
        <td><%= victim.ps_dist %></td>
        <td><%= victim.state %></td>
        <td><%= victim.vic_contct %></td>
        <td><%= link_to 'Show', victim %></td>
        <td><%= link_to 'Edit', edit_victim_path(victim) %></td>
        <td><%= link_to 'Destroy', victim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Victim', new_victim_path %>
