<p id="notice"><%= notice %></p>

<p>
  <strong>Vic name:</strong>
  <%= @victim.vic_name %>
</p>

<p>
  <strong>Vic addr:</strong>
  <%= @victim.vic_addr %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @victim.ps %>
</p>

<p>
  <strong>Ps dist:</strong>
  <%= @victim.ps_dist %>
</p>

<p>
  <strong>State:</strong>
  <%= @victim.state %>
</p>

<p>
  <strong>Vic contct:</strong>
  <%= @victim.vic_contct %>
</p>

<%= link_to 'Edit', edit_victim_path(@victim) %> |
<%= link_to 'Back', victims_path %>
