<!--<h3>Cancel my account</h3> 

     <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-6 col-md-6">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Edit  <%= resource_name.to_s.humanize %></h1>
                  </div>
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name) ,:html => {:class => 'user', :method => 'put'} ) do |f| %>
                    <div class="form-group">
                       <%= render "devise/shared/error_messages", resource: resource %>
                    </div>
                    <div class="form-group">
                      
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control form-control-user",placeholder: "Enter Email Address..."%>
                    </div>
                    <div class="form-group">                   
                      <i>(leave blank if you don't want to change it)</i>
                      <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control form-control-user",placeholder: "Password"%> 
                      <em><%= @minimum_password_length %> characters minimum</em>
                    </div>
                    <div class="form-group">                   

                      <%= f.password_field :password_confirmation, autocomplete: "current-password" ,class: "form-control form-control-user",placeholder: " Confirm Password"%>
                    </div>
                    <div class="form-group">                   
                      <i>(we need your current password to confirm your changes)</i>
                      <%= f.password_field :current_password, autocomplete: "current-password" ,class: "form-control form-control-user",placeholder: "Enter Your Current Password"%>
                    </div>
                                   
                    <%= f.submit  "Update", :class => 'btn btn-primary btn-user btn-block' %>
                   
                    
                  <% end %>
                  <hr>
                  <div class="text-center">
                  <p class="text-center"><%#= render "devise/shared/links" %></p>
                  <%= link_to "Back", :back ,:class => 'btn btn-info btn-user'%>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
