<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-6 col-md-6">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create Account</h1>
                  </div>
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name) ,:html => {:class => 'user'} ) do |f| %>
                    <div class="form-group">
                       <%= render "devise/shared/error_messages", resource: resource %>
                    </div>
                    <div class="form-group">
                      
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control form-control-user",placeholder: "Enter Email Address..."%>
                    </div>
                    <div class="form-group">                   

                      <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control form-control-user",placeholder: "Password"%>
                    </div>
                    <div class="form-group">                   

                      <%= f.password_field :password_confirmation, autocomplete: "current-password" ,class: "form-control form-control-user",placeholder: " Confirm Password"%>
                    </div>
                                   
                    <%= f.submit  "Sign Up", :class => 'btn btn-primary btn-user btn-block' %>
                   
                    
                  <% end %>
                  <hr>
                  <div class="text-center">
                  <p class="text-center"><%= render "devise/shared/links" %></p>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>