<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
        <% complaint.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comp_recvd_on %>
    <%= form.date_select :comp_recvd_on %>
  </div>

  <div class="field">
    <%= form.label :ref_gde_no %>
    <%= form.text_field :ref_gde_no %>
  </div>

  <div class="field">
    <%= form.label :gde_dt %>
    <%= form.date_select :gde_dt %>
  </div>

  <div class="field">
    <%= form.label :gde_ps %>
    <%= form.text_field :gde_ps %>
  </div>

  <div class="field">
    <%= form.label :fir_no %>
    <%= form.text_field :fir_no %>
  </div>

  <div class="field">
    <%= form.label :fir_dt %>
    <%= form.date_select :fir_dt %>
  </div>

  <div class="field">
    <%= form.label :fir_ps %>
    <%= form.text_field :fir_ps %>
  </div>

  <div class="field">
    <%= form.label :usec %>
    <%= form.text_field :usec %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
