<p id="notice"><%= notice %></p>

<h1>Complaints</h1>

<table>
  <thead>
    <tr>
      <th>Comp recvd on</th>
      <th>Ref gde no</th>
      <th>Gde dt</th>
      <th>Gde ps</th>
      <th>Fir no</th>
      <th>Fir dt</th>
      <th>Fir ps</th>
      <th>Usec</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.comp_recvd_on %></td>
        <td><%= complaint.ref_gde_no %></td>
        <td><%= complaint.gde_dt %></td>
        <td><%= complaint.gde_ps %></td>
        <td><%= complaint.fir_no %></td>
        <td><%= complaint.fir_dt %></td>
        <td><%= complaint.fir_ps %></td>
        <td><%= complaint.usec %></td>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
