<p id="notice"><%= notice %></p>

<p>
  <strong>Comp recvd on:</strong>
  <%= @complaint.comp_recvd_on %>
</p>

<p>
  <strong>Ref gde no:</strong>
  <%= @complaint.ref_gde_no %>
</p>

<p>
  <strong>Gde dt:</strong>
  <%= @complaint.gde_dt %>
</p>

<p>
  <strong>Gde ps:</strong>
  <%= @complaint.gde_ps %>
</p>

<p>
  <strong>Fir no:</strong>
  <%= @complaint.fir_no %>
</p>

<p>
  <strong>Fir dt:</strong>
  <%= @complaint.fir_dt %>
</p>

<p>
  <strong>Fir ps:</strong>
  <%= @complaint.fir_ps %>
</p>

<p>
  <strong>Usec:</strong>
  <%= @complaint.usec %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
