<%= form_with(model: stolen_mobile, local: true) do |form| %>
  <% if stolen_mobile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stolen_mobile.errors.count, "error") %> prohibited this stolen_mobile from being saved:</h2>

      <ul>
        <% stolen_mobile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :imei %>
    <%= form.text_field :imei %>
  </div>

  <div class="field">
    <%= form.label :stolen_mobno %>
    <%= form.text_field :stolen_mobno %>
  </div>

  <div class="field">
    <%= form.label :service_provider %>
    <%= form.text_field :service_provider %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
