<p id="notice"><%= notice %></p>

<h1>Stolen Mobiles</h1>

<table>
  <thead>
    <tr>
      <th>Imei</th>
      <th>Stolen mobno</th>
      <th>Service provider</th>
      <th>Make</th>
      <th>Model</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stolen_mobiles.each do |stolen_mobile| %>
      <tr>
        <td><%= stolen_mobile.imei %></td>
        <td><%= stolen_mobile.stolen_mobno %></td>
        <td><%= stolen_mobile.service_provider %></td>
        <td><%= stolen_mobile.make %></td>
        <td><%= stolen_mobile.model %></td>
        <td><%= stolen_mobile.color %></td>
        <td><%= link_to 'Show', stolen_mobile %></td>
        <td><%= link_to 'Edit', edit_stolen_mobile_path(stolen_mobile) %></td>
        <td><%= link_to 'Destroy', stolen_mobile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stolen Mobile', new_stolen_mobile_path %>
