<p id="notice"><%= notice %></p>

<p>
  <strong>Imei:</strong>
  <%= @stolen_mobile.imei %>
</p>

<p>
  <strong>Stolen mobno:</strong>
  <%= @stolen_mobile.stolen_mobno %>
</p>

<p>
  <strong>Service provider:</strong>
  <%= @stolen_mobile.service_provider %>
</p>

<p>
  <strong>Make:</strong>
  <%= @stolen_mobile.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @stolen_mobile.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @stolen_mobile.color %>
</p>

<%= link_to 'Edit', edit_stolen_mobile_path(@stolen_mobile) %> |
<%= link_to 'Back', stolen_mobiles_path %>
