<style type="text/css">
    .forgotp-form {
        width: 500px;
        margin: 50px auto;
    }

    .forgotp-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .forgotp-form h2 {
        margin: 0 0 15px;
    }

    .form-control,
    .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
<div class="forgotp-form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 class="text-center">Forgot your password?</h2>
    <div class="form-group">

        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control",placeholder: "Enter Your Email"%>
    </div>

    <div class="form-group">

        <%= f.submit  "Send me reset password instructions", :class => 'btn btn-primary btn-block' %>
    </div>

    <% end %>
    <p class="text-center"><%= render "devise/shared/links" %></p>

</div>
