<%# debugger %>
<div class="form-row">
    <div class="form-group col-md-6">
    <%= form.label :comp_recvd_on ,"Complaint received on" %>
    <%= form.text_field :comp_recvd_on ,class: 'form-control',type: 'date'%>
    </div>

    <div class="form-group col-md-6">
    <%= form.label :ref_gde_no %>
    <%= form.text_field :ref_gde_no ,class: 'form-control'%>
    </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= form.label :gde_dt %>
    <%= form.text_field :gde_dt ,class: 'form-control' ,type: 'date'%>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :gde_ps %>
    <%#= form.number_field :gde_ps ,class: 'form-control'%>
      <%#= form.collection_select(:gde_ps,PoliceStation.all.order("ps_name"),:id,:ps_name,{include_blank: 'Select police station'} ,class: 'form-control' )%>
      <%= form.grouped_collection_select(:gde_ps, PoliceDistrict.order("ps_dist_name"), :police_stations, :ps_dist_name, :ps_code, :ps_name, {include_blank: 'Select police station'}, class: 'form-control' )%>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= form.label :fir_no %>
    <%= form.text_field :fir_no ,class: 'form-control'%>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :fir_dt %>
    <%= form.text_field :fir_dt ,class: 'form-control',type: 'date'%>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= form.label :fir_ps %>
    <%#= form.number_field :fir_ps ,class: 'form-control'%>
      <%#= form.collection_select(:fir_ps,PoliceStation.all.order("ps_name"),:id,:ps_name,{include_blank: 'Select police station'} ,class: 'form-control' )%>
      <%= form.grouped_collection_select(:fir_ps, PoliceDistrict.order("ps_dist_name"), :police_stations, :ps_dist_name, :ps_code, :ps_name, {include_blank: 'Select police station'}, class: 'form-control' )%>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :usec %>
    <%= form.text_field :usec ,class: 'form-control'%>
  </div>
</div>
