<hr>
  <%# debugger %>
  <div class="field">
    <%= form.label :comp_recvd_on %>
    <%= form.date_select :comp_recvd_on %>
  </div>
    <% p "sdfsdfsdfsdf-----------------------------------#{Time.now}" %>
<hr>