<div class="card shadow mb-12">

    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Stolen Mobile Complaint Form</h5>
    </div>
    <div class="card-body" style="padding: 11px 15px 15px 13px;">

        <div class="form-group row" style="font-size:13px;padding: 11px 15px 15px 13px;">
            <%= form_with(model: complainant,class: 'col s12', local: true) do |form| %>
            <div class="form-row">
                <% if complainant.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(complainant.errors.count, "error") %> prohibited this complainant from being saved:</h2>

                    <ul>
                        <% complainant.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
            </div>
            <h3 class="card-title">Basic Details</h3>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <%= form.label :name %>
                    <%= form.text_field :name ,class: 'form-control' %>
                </div>
                <div class="form-group col-md-6">
                    <%= form.label :contact_no %>
                    <%= form.text_field :contact_no ,class: 'form-control'%>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <%= form.label :ps_dist, "Police District"%>
                    <%#= form.number_field :ps_dist %>
                    <%= form.collection_select(:ps_dist,PoliceDistrict.all.order("ps_dist_name"),:ps_dist_code,:ps_dist_name,{include_blank: 'Select Police District'} ,class: 'form-control' )%>
                </div>
                <div class="form-group col-md-6">
                    <%= form.label :ps ,"Police Station" %>
                    <%#= form.number_field :ps %>
                    <%# debugger %>
                    <!-- <select class="form-control" name="complainant[ps]" id="complainant_ps">
                         </select> -->
                    <%#= form.collection_select(:ps,PoliceStation.all.order("ps_name"),:ps_code,:ps_name,{include_blank: 'Select police station'} ,class: 'form-control' )%>
                    <%= form.grouped_collection_select(:ps, PoliceDistrict.order("ps_dist_name"), :police_stations, :ps_dist_name, :ps_code, :ps_name, {include_blank: 'Select police station'}, class: 'form-control' )%>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <%= form.label :state %>
                    <%= form.number_field :state, class: "form-control" %>
                </div>
                <div class="form-group col-md-12">
                    <%= form.label :address %>
                    <%= form.text_area :address ,placeholder: 'Enter Your address',class: 'form-control' %>
                </div>
            </div>

            <h3 class="card-title">Complaint </h3>
            <%= form.fields_for :complaints do |comp| %>
            <%= render "complaint_fields", form: comp %>
            <% end %>


            <h3 class="card-title">Occurance</h3>
            <%= form.fields_for :occurances do |oc| %>
            <%= render "occurance_fields", form: oc %>
            <% end %>


            <h3 class="card-title">Stolen Mobile</h3>
            <%= form.fields_for :stolen_mobiles do |st| %>
            <%= render "stolen_mobile_fields", form: st %>
            <% end %>

            <h3 class="card-title">Victim</h3>
            <%= form.fields_for :victims do |vic| %>
            <%= render "victim_fields", form: vic %>
            <% end %>

            <div class="form-row">
                <div class="input-field col-md-4">
                    <%= form.submit  'Submit ' , class: 'btn btn-primary btn-block'%>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

<%# <%= link_to 'Back', complainants_path ,class: 'btn btn-primary' %1> %>
