<div class="form-row">
    <div class="form-group col-md-6">
    <%= form.label :date %>
    <%= form.text_field :date ,class: 'form-control' ,type: 'date'%>
    </div>


    <div class="form-group col-md-6">
        <%# debugger %>
        <%= form.label :time %>
        <%= form.time_field :time ,class: 'form-control' ,type: 'time'%>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <%= form.label :place %>
        <%= form.text_field :place ,class: 'form-control'%>
    </div>
    <div class="form-group col-md-6">
        <%= form.label :ps_district %>
        <%#= form.number_field :ps_district ,class: 'form-control'%>
        <%= form.collection_select(:ps_dist,PoliceDistrict.all.order("ps_dist_name"),:ps_dist_code,:ps_dist_name,{include_blank: 'Select police District'} ,class: 'form-control' )%>
    </div>
</div>


<div class="form-row">
    <div class="form-group col-md-6">
        <%= form.label :ps %>
        <%#= form.number_field :ps ,class: 'form-control'%>
        <%#= form.collection_select(:ps,PoliceStation.all.order("ps_name"),:id,:ps_name,{include_blank: 'Select police station'} ,class: 'form-control' )%>

        <!-- <select class="form-control" name="complainant[occurances_attributes][0][ps]" id="complainant_occurances_attributes_0_ps">
             </select> -->
        <%= form.grouped_collection_select(:ps, PoliceDistrict.order("ps_dist_name"), :police_stations, :ps_dist_name, :ps_code, :ps_name, {include_blank: 'Select police station'}, class: 'form-control' )%>

    </div>

    <div class="form-group col-md-6">
        <%= form.label :state %>
        <%= form.number_field :state ,class: 'form-control'%>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <%= form.label :description %>
        <%#= form.text_area :description, class: 'form-control'%>
        <%= form.rich_text_area :desc_content ,class: 'form-control'  %>
    </div>
</div>
