<div class="form-row">
    <div class="form-group col-md-6">
    <%= form.label :imei %>
    <%= form.text_field :imei ,class: 'form-control'%>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :stolen_mobno %>
        <%= form.text_field :stolen_mobno ,class: 'form-control'%>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <%= form.label :service_provider %>
        <%= form.text_field :service_provider ,class: 'form-control'%>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :make %>
        <%= form.text_field :make ,class: 'form-control'%>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <%= form.label :model %>
        <%= form.text_field :model ,class: 'form-control'%>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :color %>
        <%= form.text_field :color ,class: 'form-control'%>
    </div>
</div>
