
<div class="form-row">
    <div class="form-group col-md-6">
        <%= form.label :vic_name %>
        <%= form.text_field :vic_name ,class: 'form-control'%>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :vic_addr %>
        <%= form.text_field :vic_addr ,class: 'form-control'%>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
            <%= form.label :ps_dist %>
            <%#= form.number_field :ps_dist ,class: 'form-control'%>
            <%= form.collection_select(:ps_dist,PoliceDistrict.all.order("ps_dist_name"),:ps_dist_code,:ps_dist_name,{include_blank: 'Select police District'} ,class: 'form-control' )%>
    </div>
    <div class="form-group col-md-6">
        <%= form.label :ps %>
        <%#= form.number_field :ps ,class: 'form-control'%>
        <%#= form.collection_select(:ps,PoliceStation.all.order("ps_name"),:id,:ps_name,{include_blank: 'Select police station'} ,class: 'form-control' )%>

        <select class="form-control" name="complainant[victims_attributes][0][ps]" id="complainant_victims_attributes_0_ps">
        </select>
    </div>

</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <%= form.label :state %>
        <%= form.number_field :state ,class: 'form-control' %>
    </div>

    <div class="form-group col-md-6">
        <%= form.label :vic_contct %>
        <%= form.text_field :vic_contct ,class: 'form-control'%>
    </div>
</div>
