<h1 class="h3 mb-2 text-gray-800">Editing Complainant</h1>
<p class="mb-4">Edit the complainant</p>

<%= render 'form', complainant: @complainant %>

<%= link_to 'Show', @complainant ,class: 'btn btn-primary' %> |
<%= link_to 'Back', complainants_path ,class: 'btn btn-primary' %>
