<p id="notice"><%= notice %></p>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">All Complaint</h1>
<p class="mb-4">Table representation of all complain</p>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Complainants</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Police Station</th>
                        <th scope="col">Police dist</th>
                        <th scope="col">State</th>
                        <th scope="col">Contact no</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <% @complainants.each do |complainant| %>
                    <tr>
                        <td><%= complainant.name %></td>
                        <td><%= complainant.address %></td>
                        <td><%= PoliceStation.select(:ps_name).find_by_ps_code(complainant.ps).ps_name if complainant.ps %></td>
                        <td><%= PoliceDistrict.select(:ps_dist_name).find_by_ps_dist_code(complainant.ps_dist).ps_dist_name if complainant.ps_dist %></td>
                        <td>West Bengal</td>
                        <td><%= complainant.contact_no %></td>
                        <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, complainant %></td>
                        <td><%= link_to '<i class="fa fa-pen"></i>'.html_safe, edit_complainant_path(complainant) %></td>
                        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, complainant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        
        
        <nav aria-label="Page navigation example">

        <%= page_entries_info(@complainants) %>
        <ul class="pagination">
            <li class="disabled"> <%= will_paginate(@complainants,:previous_label => "Previous", :next_label => "Next",:class=>"pagination",:outer_window => 1,:inner_window => 0) %>

        </ul>
        </nav>            


    </div>
</div>
<%= link_to 'New Complainant', new_complainant_path ,class: 'btn btn-primary' %>
