<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Complaint user details</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample1">
        <div class="card-body">
          <p>
          <strong>Name</strong>
          <%= @complainant.name %>
          </p>

          <p>
          <strong>Address</strong>
          <%= @complainant.address %>
          </p>

          <p>
          <strong>Police Station</strong>
          <%#= @complainant.ps %>
          <%= PoliceStation.select(:ps_name).find_by_ps_code(@complainant.ps).ps_name if @complainant.ps %>
          </p>

          <p>
          <strong>Police District</strong>
          <%#= @complainant.ps_dist %>
          <%= PoliceDistrict.select(:ps_dist_name).find_by_ps_dist_code(@complainant.ps_dist).ps_dist_name if @complainant.ps_dist %>
          </p>

          <p>
          <strong>State</strong>
          <%= @complainant.state %>
          </p>

          <p>
          <strong>Contact Number</strong>
          <span class="badge badge-info"><%= @complainant.contact_no %></span>
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Complaint Details</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample2">
        <div class="card-body">
          <% @complainant.complaints.each do |cmp| %>
            <p>
            <strong>Complain received on</strong>
            <%= cmp.comp_recvd_on %>
            </p>

            <p>
            <strong>Ref gde no</strong>
            <%= cmp.ref_gde_no %>
            </p>

            <p>
            <strong>Gde date</strong>
            <%= cmp.gde_dt %>
            </p>

            <p>
            <strong>Gde Police Station</strong>
            <%#= cmp.gde_ps %>
            <%= PoliceStation.select(:ps_name).find_by_ps_code(cmp.gde_ps).ps_name if cmp.gde_ps %>
            </p>

            <p>
            <strong>Fir No</strong>
            <%= cmp.fir_no %>
            </p>

            <p>
            <strong>Fir date</strong>
            <%= cmp.fir_dt %>
            </p>

            <p>
            <strong>Fir Police Station</strong>
            <%= cmp.fir_ps %>
            <%= PoliceStation.select(:ps_name).find_by_ps_code(cmp.fir_ps).ps_name if cmp.fir_ps %>
            </p>

            <p>
            <strong>Under Section</strong>
            <%= cmp.usec %>
            </p>
            <b>
              <hr></b>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Occurances</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample3">
        <div class="card-body">

          <% @complainant.occurances.each do |oc| %>
            <p>
            <strong>Date</strong>
            <%= oc.date %>
            </p>

            <p>
            <strong>Time</strong>
            <%= oc.time %>
            </p>

            <p>
            <strong>Place</strong>
            <%= oc.place %>
            </p>

            <p>
            <strong>Police district</strong>
            <%#= oc.ps_dist %>
            <%# debugger %>
            <%= PoliceDistrict.select(:ps_dist_name).find_by_ps_dist_code(oc.ps_dist).ps_dist_name if oc.ps_dist %>

            </p>

            <p>
            <strong>Police Station</strong>
            <%#= oc.ps %>
            <%= PoliceStation.select(:ps_name).find_by_ps_code(oc.ps).ps_name if oc.ps %>
            </p>

            <p>
            <strong>State</strong>
            <%= oc.state %>
            </p>

            <p>
            <strong>Description</strong>
            <%= oc.desc_content %>
            </p>
            <b>
              <hr></b>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Stolen Mobile Details</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample4">
        <div class="card-body">
          <% @complainant.stolen_mobiles.each do |st| %>
            <p>
            <strong>IMEI Number</strong>
            <span class="badge badge-primary"><%= st.imei %></span>
            </p>

            <p>
            <strong>Stolen Mobile No</strong>
            <span class="badge badge-primary"><%= st.stolen_mobno %></span>
            </p>

            <p>
            <strong>Service provider</strong>
            <%= st.service_provider %>
            </p>

            <p>
            <strong>Make By</strong>
            <%= st.make %>
            </p>

            <p>
            <strong>Model Name</strong>
            <%= st.model %>
            </p>

            <p>
            <strong>Color</strong>
            <%= st.color %>
            </p>
          <% end %>
          <b>
            <hr></b>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Victims</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample5">
        <div class="card-body">

          <% @complainant.victims.each do |vic|  %>
            <p>
            <strong>Vitim name:</strong>
            <%= vic.vic_name %>
            </p>

            <p>
            <strong>Victim address</strong>
            <%= vic.vic_addr %>
            </p>

            <p>
            <strong>Police Station</strong>
            <%#= vic.ps %>
            <%= PoliceStation.select(:ps_name).find_by_ps_code(vic.ps).ps_name if vic.ps %>

            </p>

            <p>
            <strong>Police District</strong>
            <%#= vic.ps_dist %>
            <%= PoliceDistrict.select(:ps_dist_name).find_by_ps_dist_code(vic.ps_dist).ps_dist_name if vic.ps_dist %>
            </p>

            <p>
            <strong>State</strong>
            <%= vic.state %>
            </p>

            <p>
            <strong>Victim contact</strong>
            <span class="badge badge-info"><%= vic.vic_contct %></span>
            </p>

            <b>
              <hr></b>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_complainant_path(@complainant) ,class: 'btn btn-primary' %> &nbsp;
<%= link_to 'Back', complainants_path ,class: 'btn btn-primary' %>
