<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Search Complaint</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <% if params[:query] %>
            <h6 class="m-0 font-weight-bold text-primary">Searching with -- "<%=params[:query]%>" </h6>
            <%end%>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hovered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Police Station</th>
                            <th scope="col">Police dist</th>
                            <th scope="col">State</th>
                            <th scope="col">Contact no</th>

                        </tr>
                    </thead>

                    <tbody>
                        <% @results.each do |data| %>
                        <tr>
                            <td><%= data.name %></td>
                            <td><%= data.address %></td>
                            <td><%= PoliceStation.select(:ps_name).find_by_ps_code(data.ps).ps_name if data.ps %></td>
                            <td><%= PoliceDistrict.select(:ps_dist_name).find_by_ps_dist_code(data.ps_dist).ps_dist_name if data.ps_dist %></td>
                            <td>West Bengal</td>
                            <td><%= data.contact_no %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
