<%= form_with(model: occurance, local: true) do |form| %>
  <% if occurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(occurance.errors.count, "error") %> prohibited this occurance from being saved:</h2>

      <ul>
        <% occurance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :ps_dist %>
    <%= form.number_field :ps_dist %>
  </div>

  <div class="field">
    <%= form.label :ps %>
    <%= form.number_field :ps %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.number_field :state %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
