<p id="notice"><%= notice %></p>

<h1>Occurances</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Place</th>
      <th>Ps district</th>
      <th>Ps</th>
      <th>State</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @occurances.each do |occurance| %>
      <tr>
        <td><%= occurance.date %></td>
        <td><%= occurance.time %></td>
        <td><%= occurance.place %></td>
        <td><%= occurance.ps_dist %></td>
        <td><%= occurance.ps %></td>
        <td><%= occurance.state %></td>
        <td><%= occurance.description %></td>
        <td><%= link_to 'Show', occurance %></td>
        <td><%= link_to 'Edit', edit_occurance_path(occurance) %></td>
        <td><%= link_to 'Destroy', occurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Occurance', new_occurance_path %>
