<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @occurance.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @occurance.time %>
</p>

<p>
  <strong>Place:</strong>
  <%= @occurance.place %>
</p>

<p>
  <strong>Ps district:</strong>
  <%= @occurance.ps_dist %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @occurance.ps %>
</p>

<p>
  <strong>State:</strong>
  <%= @occurance.state %>
</p>

<p>
  <strong>Description:</strong>
  <%= @occurance.description %>
</p>

<%= link_to 'Edit', edit_occurance_path(@occurance) %> |
<%= link_to 'Back', occurances_path %>
