<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">


        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-mobile"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Mobile-Theft</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">

            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Report Generation
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw  fa-folder "></i>
            <span>All Reports</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Reports</h6>
                <a class="collapse-item" href="javascript:void(0)">Recoverd Mobile </a>
                <a class="collapse-item" href="javascript:void(0)">IMEI Search</a>
                <a class="collapse-item" href="javascript:void(0)">IMEI Pending</a>
                <a class="collapse-item" href="javascript:void(0)">Log Reports</a>


            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Entry Form
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Complaint</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Complaint</h6> -->
                <%= link_to "All Complainants", complainants_path, :target=> '_parent' ,class: 'collapse-item' %>
                <%= link_to "New Complainant", new_complainant_path, :target=> '_parent' ,class: 'collapse-item' %>
               
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"> -->
            <%= form_tag(find_search_path, :class => 'd-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search', :method => "get") do %>
                <div class="input-group">
                    <!-- <input type="text" class="form-control bg-light border-0 small" placeholder="Search for... IMEI" aria-label="Search" aria-describedby="basic-addon2"> -->
                    <%= search_field_tag :query, params[:query], placeholder: "Enter Phone number", class: "form-control bg-light border-0 small" %>
                    <div class="input-group-append">
                        <!-- <button class="btn btn-primary" type="button">
                             <i class="fas fa-search fa-sm"></i>
                             </button> -->
                        <button class="btn btn-primary" id="top_search">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            <% end %>
            <!-- </form> -->

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                     <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fas fa-search fa-fw"></i>
                     </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                     
                     <%= form_tag(find_search_path, :class => 'form-inline mr-auto w-100 navbar-search', :method => "get") do %>
                     <div class="input-group">
                     <%= search_field_tag :query, params[:query], placeholder: "Enter Phone number", class: "form-control bg-light border-0 small" %>
                    
                     <div class="input-group-append">
                     <button class="btn btn-primary"  id="top_search">
                     <i class="fas fa-search fa-sm"></i>
                     </button>
                     </div>
                     </div>
                     <%end%>
                     </div>
                </li> 

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=current_user.email%></span>
                        <img class="img-profile rounded-circle" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                        <%= link_to "<i class='fas fa-user fa-sm fa-fw mr-2 text-gray-400'></i>Profile".html_safe, edit_user_registration_path, class: 'dropdown-item' %>

                        <div class="dropdown-divider"></div>

                        <%= link_to "<i class='fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400'></i>Logout".html_safe, destroy_user_session_path, method: :delete , class: 'dropdown-item' %>

                    </div>
                </li>

            </ul>

        </nav>
