<!DOCTYPE html>
<html>

<head>
    <title>MobileTheft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	  </head>

	<body id="page-top">
		<div id="wrapper">

		
	
		
		<% if user_signed_in? %>

		<%= render "layouts/header" %>

		<%end%>
		
			
		<div class="container-fluid">  
			<%= yield %>
		</div>
		
		</div>
	
  	</body>
</head>



</html>